*{
    box-sizing: border-box;

}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
    background-color: black;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    color: darkred;
    float: left;

}

nav{
    float: right;
    line-height: 80px;


}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: darkred;

}

nav a:hover{
    border-bottom: 2px solid darkred;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: darkred;

}

.icon{
    margin-right: 7px;
    font-size: 16px;
}

#Homepage{
    height: 600px;
    background-image: url(Forest\ pond\ 7\ colors\ study\,\ Me\,\ pixel\ art\,\ 2019.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}

#icerik{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%,-50%);
    color: white;
    font-size: 20px;
}

#hakkimizda{
    background-color: black;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h3{
    font-size: 55px;
    color: darkred;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;

}

.container{
    width: 1200px;
    height: auto;
    margin: auto;

}

#sol{
    float: left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5sol{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 600;

}

#h5sol, #sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: darkred;
    font-weight: 600;
    float: left;

}

#sag{
    float: right;
    width: 750px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;

}

.img-fluid{
    max-width: 100%;
    height: auto;
}


#pson{
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#news{
    background-image: url(CONTROL\ __\ WOOSAN.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    text-align: center;
    height: 700px;
    
}


.card{
    width: 320px;
    height: 350px;
    border: 1px solid black;
    padding: 0;
    background-color: white;
    display: inline-block;


}
.baslikcard{
    font-size: 15px;
    color: darkred;

}

.cardp{
    color: #888;
}

.card:hover{
    border: 2px solid gray;

}

#iletisim{
    padding: 50px;
    height: auto;
    text-align: center;
    background-color: black;
}

#h3iletisim{
    color: darkred;
}

#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#solform{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#sagform{
    width: 50%;
    float: right;
    padding-left: 5px;

}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;

}

textarea{
    font-family: Arial;
}

input[type="Submit"]{
    cursor: pointer;
    background-color: darkred;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#address{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik{
    font-size: 30px;
    color: white;

}

#copyright{
    letter-spacing: 2px;
    color: #495057;
    font-size: 20px;
}

.adresp{
    color: darkred;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;

}

#up{
    color: #495057;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 7px 12px;
    margin-top: 20px;
}

.social{
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    margin: 5px 10px;
    border-bottom: 2px solid darkred;
    border-top: darkred;

}

.social:hover{
    background-color: #888;

}

#up:hover{
    background-color: #888
}

html{
    scroll-behavior: smooth;
}


#reas{
    color: black;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 12px;
    margin-top: 20px;
    text-decoration: none;
}

.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
 